@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D8E8FF;
    font-family: "Roboto Mono", sans-serif;
    font-size: 48px;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    background-color: #EDF6FF;
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.time-preview {
    background-color: #3194FF;
    color: #EDF6FF;
    padding: 10px;
    width: 107%;
    text-align: center;
    border-radius: 5px;
    font-size: 0.7em;
}

.buttons {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #D8E8FF;
    color: #3194FF;
    cursor: pointer;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
}

button:hover {
    box-shadow: none;
    top: 3px;
}

button:nth-of-type(2) {
    color: #EDF6FF;
    background-color: #3194FF;
}

.author {
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.author a {
    text-decoration: none;
    color: #3194FF;
    cursor: pointer;
}